[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"
flake8 = "*"

[packages]
argparse = "*"
colorama = "*"
pyyaml = "*"
mako = "*"
ptvsd = "*"
pudb = "*"
semver = "*"
shell = "*"

[requires]
python_version = "3.10"
