certifi==2024.7.4
charset-normalizer==3.3.0
colorama==0.4.6
debugpy==1.8.1
Faker==18.4.0
flake8==7.1.1
idna==3.7
importlib-metadata==5.2.0
jedi==0.19.1
json-spec==0.11.0
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
parso==0.8.3
ptvsd==4.3.2
pudb==2022.1.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0.2
requests==2.32.3
semver==3.0.0
setuptools==75.3.0
shell==1.0.1
six==1.16.0
urllib3==2.2.2
urwid==2.2.2
urwid_readline==0.13
zipp==3.19.1
